<html>
  <head>
    <title>404</title>    
    <link rel="icon" href="/img/weather.png" >
    <!--  this path is relative to the public folder -->
    <link rel="stylesheet" href="/css/styles.css" />    
      </head>
  <body>
    <div class="main-content">
        {{>header}}   
        <p>{{errorMessage}}</p> 
   </div>
   {{>footer}}   
  </body>
  
</html>