{{! the tile will be fetched for that particular page from app.js get method }}
{{! <header> tag is provided by html }}
<header>
  <h1>{{title}}</h1>
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</header>